body{
    background-color: darkred;
}
.navbar-inverse{
    background-color: aquamarine;
    border: none;
    min-height: 10%;
}
.logo-img{
    margin: 20px;
    width: 200px;
}
.icon_menu{
    text-align: center;
}
.marco_icon{
    margin: 32px 0;
}
.container{
    background-color: white;
    border-radius: 0 0 10px 10px;
}
.navbar {
      border: none;
      margin-bottom: 0;
      min-height: inherit;
    position: relative;
}
.main_menu{
    background-color: orange;
    color: darkred;
    font-size: 0.9em;
    font-weight: bolder;
    padding: 10px;
    text-decoration: none;
}
nav.row a:first-child {
    border-radius: 0 0 0 10px;
}
nav.row a:last-child {
    border-radius: 0 0 10px 0;
}
.main_menu:hover{
    background-color: white;
    color: darkred;
    text-decoration: none;
}
a.main_menu:link {
    color: darkred;
    text-decoration: none;
}
a.main_menu:visited{
    color: darkred;
    text-decoration: none;
}
.container nav .row{
    border-radius: 0 0 10px 10px;
}
.fluid{
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
}
.buscador{
    background-color: white;
    border-right: 0;
}
.buscador_2{
    background-color: white;
    border-left: 0;
    box-shadow: none;
}
.form-control {
    padding-left: 0;
}
.navbar-form{
    padding: 0;
}
.input-group{
    width: 100%;
}
.form-group{
    width: 100%;
}
.comment{
    padding-left: 12px;
}
.logo-imgCO1{
    padding: 0;
}
.logo-imgCO2{
    width: 100%;
}
.logo-imgCO3{
    margin-top: 20px;
    width: 100%;
}
h4{
    margin-bottom: 20px;
}
.top{
    padding-top: 25px;
}

@media (max-width: 991px) {

    nav.row a:first-child {
    border-radius: 0;
    }
    nav.row a:last-child {
        border-radius: 0;
    }
    .search_{
        display: none;
    }
    .fluid{
    border-radius: 0;
    }
}
